* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style classes */
header {
    background-color: #2C3D50;
}

.header-content {
    height: 75px;
    border: 1px dotted #fff;
}

.jumbo {
    background-color: #1ABC9C;
}

.jumbo-content {
    height: 300px;
    border: 1px solid #fff;
}

.content {
    border: 1px solid black;
    height: 100px;
}