* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style classes */
header,
.bottom-footer {
    background-color: #2C3D50;
}

.top-footer {
    background-color: #3B546D;
}

.header-content {
    height: 75px;
    border: 1px dotted #fff;
}

.jumbo,
.about,
.card,
.bg-green {
    background-color: #1ABC9C;
}



.navbar-toggler {
    padding: 5px 10px;
    color: gray;
    align-items: center;
    border: 1px solid #fff;
}

.card {
    width: 100%;
    align-items: center;
    border: none;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.card img {
    width: 50%;
}

.lines-white:before,
.lines-white:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #fff;
    vertical-align: middle;
    margin-bottom: 10px;
}

.lines-black:before,
.lines-black:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: black;
    vertical-align: middle;
    margin-bottom: 10px;
}

.form-control {
    border: none;
    display: block;
    border-bottom: 1px solid gray;
    padding: 0px;

}